buildout:
{% for part in buildout.keys() %}
{% if buildout[part].keys()|length > 0 %}

    {{ part|replace('.','_')|replace("-", "_") }}:
        {% for key in buildout[part] -%}
        {% if '\n' in buildout[part][key] -%}
        {{ key|replace(".","_")|replace("-", "_") }}:
            {%- for itm in buildout[part].get_list(key) if not "${" in itm %}
            - {{ itm|replace('*','\*')|replace('$', '$$') }}
            {%- endfor %}
        {% elif "${" not in buildout[part][key] -%}
        {{ key|replace(".","_")|replace("-", "_") }}: {{ buildout[part][key]|replace('*','\*')|replace('$','$$') }}
        {% endif -%}
        {% endfor %}

{%- endif %}
{%- endfor %}
