buildout:
{% for part in buildout.keys() %}

    {{ part }}:
        {% for key in buildout[part] -%}
        {% if '\n' in buildout[part][key] -%}
        {{ key|replace(".","_") }}:
            {%- for itm in buildout[part].get_list(key) %}
            - {{ itm }}
            {%- endfor %}
        {% else -%}
        {{ key|replace(".","_") }}: {{ buildout[part][key] }}
        {% endif -%}
        {% endfor %}

{%- endfor %}
